@media (max-width: 500px){
  .commentsOuterSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .commentsInnerSection{
    height: 200px;
    overflow-y: auto;
    width: 98%;
  }
  .writeComment{
    margin-top: 20px;
    width: 95%;
  }
}

@media (min-width:500px){
  .commentsOuterSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .commentsInnerSection{
    height: 200px;
    margin-right: 30px;
    overflow-y: auto;
    width: 50%;
  }

  .writeComment{
    width: 50%;
  }
}
