.card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  border-radius: 15px;
  height: 100%;
  position: relative;
}

.media{
  height: 0;
  padding-top: 54.25%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
}
.overlay2{
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}
.tags {
  display: flex;
  justify-content:space-between;
  margin: 20px 20px 10px 20px;
}
.title {
  padding: 0 30px;
}
.cardActions {
  padding: 0 16px 8px 16px;
  display: flex;
  justify-content: space-between;
}