/* import { makeStyles } from '@material-ui/core/styles';

export default makeStyles((theme) => ({
  media: {
    borderRadius: '20px',
    objectFit: 'cover',
    width: '100%',
    maxHeight: '600px',

  },
  card: {
    display: 'flex',
    width: '100%',
    [theme.breakpoints.down('sm')]: {
      flexWrap: 'wrap',
      flexDirection: 'column',
    },
  },
  section: {
    borderRadius: '20px',
    margin: '10px',
    flex: 1,
  },
  imageSection: {
    marginLeft: '20px',
    [theme.breakpoints.down('sm')]: {
      marginLeft: 0,
    },
  },
  recommendedPosts: {
    display: 'flex',
    [theme.breakpoints.down('sm')]: {
      flexDirection: 'column',
    },
  },
  loadingPaper: {
    display: 'flex', justifyContent: 'center', alignItems: 'center', padding: '20px', borderRadius: '15px', height: '39vh',
  },
})); */

.loadingpaper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  height: 39vh;
}

.section{
  margin: 30px;
  border-radius: 20px;
  flex: 1;
}

.mainpaper{
  padding: 20px;
  border-radius: 30px;
  max-width: fit-content;
}

.card {
  display: flex;
  width: 100%;
  
}
/* [theme.breakpoints.down('sm')]: {
    flexWrap: 'wrap',
    flexDirection: 'column',
  }, */

.imageSection{
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.smallcard{
  text-align: center;
}

/* .media{
    border-radius: 50px;
    object-fit: cover;
    width: 100%;
    max-height: 600px;
} */

/* [theme.breakpoints.down('sm')]: {
  marginLeft: 0,
}, */
