

/* // .appbar{
//   border-radius: 15;
//   margin: 30px 0px;
//   display: 'flex';
//   flex-direction: 'row';
//   justify-content: 'center';
//   align-items: 'center';
// } */

/* .toolbar{
  display: flex;
  justify-content: flex-end;
  width:400px
} */
.profile{
  display: flex;
  justify-content:space-between;
  width: 300px;
}
/*
.userName{
  display:flex;
  alignItems:center
}
.brandContainer{
  display: flex;
  alignItems: center;
}
*/
.purple{
  color: rgb(135, 21, 135);
  /* background-color: purple; */
}

.toolbar{
  display: flex;
  justify-content: flex-end;
  width: 880px
}

.buttons{
  /* position: absolute; */
  right:100px;
  text-decoration: none;
}